.font-default {
    font-style: normal;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
.card-shadow {
    box-shadow: 0 4px 20px #eceef0;
}
.tinder-custom-card {
    // transition: all 1s ease-out 0s;
}
.tinder-custom-undo-card-position {
    transform: translate3d(0px, 0px, 0px) rotate(0deg) !important;
}
.tinder-custom-undo-card-animation {
    transition: all .5s ease-out 0s;
}
.bg-gradient {
    background: linear-gradient(92.63deg, #2d74b6 0%, #33d2bf 100%);
}
.text-gradient {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
    background-size: 300%;
    background-clip: text;
    animation: gradient 10s ease-in-out infinite;

    -webkit-text-fill-color: transparent;
}
.ogp-text-gradient {
    background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
            background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
// .bg-gradient {
//     background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
// }
.bg-gradient-animation {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.bg-line {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 1px;
    height: 100vh;
    margin: auto;
    background: rgba(0, 0, 0, .075);
    &:before, &:after {
        position: fixed;
        top: 0;
        width: 1px;
        height: 100vh;
        margin: auto;
        background: rgba(0, 0, 0, .075);
        content: "";
    }
    &:before {
        left: 10%;
    }
    &:after {
        right: 10%;
    }
}
.animated-dot {
    transform: scale(1);
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #6fcf97;
    background: #6fcf97;
            animation: Pulse 1.5s infinite;

    -webkit-animation: Pulse 1.5s infinite;
}
@keyframes Pulse {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(111, 207, 151, .7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px rgba(111, 207, 151, 0);
    }
    100% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(111, 207, 151, 0);
    }
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.header-triangle {
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    border-width: 60px 120px 0 0;
    border-style: solid;
    border-color: #0c4a6e transparent transparent transparent;
}
.lt-triangle {
    opacity: .8;
    width: 0;
    height: 0;
    border-width: 40px 40px 0 0;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}
.rt-triangle {
    opacity: .8;
    width: 0;
    height: 0;
    border-width: 0 40px 40px 0;
    border-style: solid;
    border-color: transparent #000000 transparent transparent;
}
.os-triangle {
    opacity: .8;
    width: 0;
    height: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: transparent #2081e2 transparent transparent;
}

.bg-upvote {
    background: linear-gradient(308.49deg, #cb2c2c 0%, #ff9432 100%);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
}
$stripe01: #111826;
$stripe02: #1a1a1a;
.bg-stripe {
    background-image: linear-gradient(
    135deg,
    $stripe01 25%,
    $stripe02 25%,
    $stripe02 50%,
    $stripe01 50%,
    $stripe01 75%,
    $stripe02 75%,
    $stripe02 100%
    );
    background-size: 5px 5px;
}
.square_wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
    }
}
.hide-scrollbar, .ReactModal__Overlay {
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    /* Chrome, Safari 対応 */

    &::-webkit-scrollbar {
        display: none;
    }
}
.text-twitter {
    color: #1d9bf0;
}
.text-discord {
    color: #5865f2;
}
.custom-tdbg {
    opacity: .08 !important;
    top: -16px;
    width: calc(100% + 38px);
    //width: 50px;
    height: calc(100% + 32px);
    margin-left: -28px;
}
.react-code-input {
    display: flex !important;
    justify-content: center;
    input {
        width: 44px !important;
        height: 48px !important;
        padding-top: 2px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        color: #222222 !important;
        font-size: 24px !important;
        text-align: center;
        @apply border border-gray-300 bg-slate-50;
    }
}
.translucent-white {
    background: rgba(255, 255, 255, .1);
}
.translucent-black {
    background: rgba(0, 0, 0, .5);
}
.image-fill {
    display: block;
    position: absolute;
    width: 0;
    min-width: 100%;
    max-width: 100%;
    height: 0;
    min-height: 100%;
    max-height: 100%;
    margin: auto;
    padding: 0;
    border: none;
    box-sizing: border-box;

    inset: 0;
    object-fit: cover;
}
// react-input-code
// 数字入力時のスピンボタン削除
.no-spin {
    gap: 10px;

    input {
        border-radius: 4px;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            margin: 0 !important;

            -webkit-appearance: none !important;
               -moz-appearance: textfield !important;
        }
    }
}